p#pogrubienie_tuszkiewicz{
    font-size: 36px;
    color: #895DCA;
}

p#pochylona_tuszkiewicz{
    font-size: 41pt;
    color: #EDC166
}

p#index_gorny_tuszkiewicz{
    font-size: 1,6cm;
    color:#9D8F16
}

p#index_dolny_tuszkiewicz{
    font-size: 2,5cm;
    color:#39F3DE
}

p#mono_tuszkiewicz{
    font-size: 46px;
    color:#1DDF66
}

p#powiekszenie_tuszkiewicz{
    color:#573F98
}

p#pomniejszenie_tuszkiewicz{
    color:#BBA334
}