
h3 {
    width: 300pt;
    height:4cm;
    padding : 20px;
    margin-left : 710px;
    border : 10px ridge purple;
    background : rgb(255,255,130);
    }
/* Jan Tuszkiewicz 2K grupa 28 */